.APInasa{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rebeccapurpl;
    padding:0px;
    color: aliceblue;
    background-color: blueviolet;
}

.nasa{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
    padding:20px;
    color: aliceblue;
    width: 700px;
    border-radius: 20px;
}

.nasa img{
    width:450px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    padding:10px;
    color: aliceblue;
  
}
